<!DOCTYPE html>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title th:replace="${title}">Layout Title</title>
  <link rel="icon" type="image/ico" href="/img/favicon.ico" sizes="any"/>

  <link href="http://localhost:9000/css/bundle.css" rel="stylesheet">

</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<div th:replace="fragments/common/header :: header"></div>
<div class="app-body">
  <div th:replace="fragments/common/sidebar :: sidebar"></div>
  <main th:replace="${content}">Page Content</main>

  <div th:replace="fragments/common/aside-menu :: aside-menu"></div>
</div>
<div th:replace="fragments/common/footer :: footer"></div>

<script src="http://localhost:9000/js/bundle.js"></script>
</body>
</html>
